In [1]:
import pandas as pd
import numpy as np
import math
from tqdm.notebook import tqdm_notebook as tqdm
tqdm.pandas()
from tqdm import tqdm
import os
import pandas as pd

In [2]:
path='/Volumes/GoogleDrive/Shared drives/AMC Projects/_AZ_Kay/_Drilling/_Shift Reports/'

In [3]:
def get_nan_inds(series):
    ''' Obtain the first and last index of each consecutive NaN group.
    '''
    series = series.reset_index(drop=True)
    index = series[series.notna()].index.to_numpy()
    if len(index) == 0:
        return []
    indices = np.split(index, np.where(np.diff(index) > 1)[0] + 1)
     
    groups=[(ind[0], ind[-1]+1) for ind in indices]
    return groups

In [4]:
name_list=[]
data_list=[]
for folder in os.listdir(path):
    level2=path+folder+'/'
    print(level2)
    if os.path.isdir(level2):
        for i,file in enumerate(os.listdir(level2)):
            print(i,file)
            file_path=level2+file

            try:
                data=pd.read_excel(file_path,na_filter=True)
                #data['FileName']=file
                data_list.append(data)
                name_list.append(file_path)
            except Exception as e:
                print(e)

/Volumes/GoogleDrive/Shared drives/AMC Projects/_AZ_Kay/_Drilling/_Shift Reports/BK-77/
0 Kay Mine 3_2.21.BK-77.xlsx
1 Kay Mine 3_2.20.BK-77.xlsx
2 Kay Mine 3_2.2.BK-77.xlsx
3 Kay Mine 3_2.17.BK-77.xlsx
4 Kay Mine 3_2.13.BK-77.xlsx
5 Kay Mine 3_2.19.BK-77.xlsx
6 Kay Mine 3_2.15.BK-77.xlsx
7 Kay Mine 3_2.14.BK-77.xlsx
8 Kay Mine 3_2.16.BK-77.xlsx
9 Kay Mine 3_2.18.BK-77.xlsx
10 Kay Mine 3_1.31.BK-77.xlsx
11 Kay Mine 3_2.1.BK-77.xlsx
12 Kay Mine 3_1.30.BK-77.xlsx
13 Kay Mine 3_1.28.BK-77.xlsx
14 Kay Mine 3_1.26.BK-77.xlsx
15 Kay Mine 3_1.29.BK-77.xlsx
16 Kay Mine 3_1.27.BK-77.xlsx
17 Kay Mine 3_2.12.BK-77.xlsx
18 Kay Mine 3_2.11.BK-77.xlsx
19 Kay Mine 3_2.10.BK-77.xlsx
20 Kay Mine 3_1.25.BK-77.xlsx
21 Kay Mine 3_1.24.BK-77.xlsx
22 Kay Mine 3_1.23.BK-77.xlsx
23 Kay Mine 3_1.20.BK-77.xlsx
24 Kay Mine 3_1.21.BK-77.xlsx
25 Kay Mine 3_1.19.BK-77.xlsx
26 Kay Mine 3_1.17.BK-77.xlsx
27 Kay Mine 3_1.18.BK-77.xlsx
28 Kay Mine 3_1.16.BK-77.xlsx
29 Kay Mine 3_1.22.BK-77.xlsx
30 Kay Mine 2_7.04.BK-67.xlsx
31 Kay Mine 3_1.15.BK-77.xlsx
32 Kay Mine 3_1.14.BK-77.xlsx
33 Kay Mine 3_2.25.BK-77.xlsx
34 Kay Mine 3_2.27.BK-77.xlsx
35 Kay Mine 3_2.22.BK-77.xlsx
36 Kay Mine 3_2.23.BK-77.xlsx
37 Kay Mine 3_2.26.BK-77.xlsx
38 Kay Mine 3_2.24.BK-77.xlsx
39 Kay Mine 3_2.28.BK-77.xlsx
40 Kay Mine 3_4.04.BK-77.xlsx
41 Kay Mine 3_3.6.BK-77.xlsx
42 Kay Mine 3_4.02.BK-77.xlsx
43 Kay Mine 3_3.8.BK-77.xlsx
44 Kay Mine 3_4.01.BK-77.xlsx
45 Kay Mine 3_3.9.BK-77.xlsx
46 Kay Mine 3_4.03.BK-77.xlsx
47 Kay Mine 3_3.7.BK-77.xlsx
48 Kay Mine 3_3.4.BK-77.xlsx
49 Kay Mine 3_3.5.BK-77.xlsx
50 Kay Mine 3_3.28.BK-77.xlsx
51 Kay Mine 3_3.27.BK-77.xlsx
52 Kay Mine 3_3.30.BK-77.xlsx
53 Kay Mine 3_3.25.BK-77.xlsx
54 Kay Mine 3_3.26.BK-77.xlsx
55 Kay Mine 3_3.29.BK-77.xlsx
56 Kay Mine 3_3.3.BK-77.xlsx
57 Kay Mine 3_3.31.BK-77.xlsx
58 Kay Mine 3_3.21.BK-77.xlsx
59 Kay Mine 3_3.2.BK-77.xlsx
60 Kay Mine 3_3.17.BK-77.xlsx
61 Kay Mine 3_3.15.BK-77.xlsx
62 Kay Mine 3_3.18.BK-77.xlsx
63 Kay Mine 3_3.19.BK-77.xlsx
64 Kay Mine 3_3.16.BK-77.xlsx
65 Kay Mine 3_3.20.BK-77.xlsx
66 Kay Mine 3_3.24.BK-77.xlsx
67 Kay Mine 3_3.23.BK-77.xlsx
68 Kay Mine 3_3.14.BK-77.xlsx
69 Kay Mine 3_3.13.BK-77.xlsx
70 Kay Mine 3_3.10.BK-77.xlsx
71 Kay Mine 3_2.7.BK-77.xlsx
72 Kay Mine 3_3.1.BK-77.xlsx
73 Kay Mine 3_2.6.BK-77.xlsx
74 Kay Mine 3_2.8.BK-77.xlsx
75 Kay Mine 3_2.9.BK-77.xlsx
76 Kay Mine 3_3.11.BK-77.xlsx
77 Kay Mine 3_3.12.BK-77.xlsx
78 Kay Mine 3_2.5.BK-77.xlsx
79 Kay Mine 3_2.4.BK-77.xlsx
80 Kay Mine 3_2.3.BK-77.xlsx
81 Kay Mine 3_5.23.BK-77.xlsx
82 Kay Mine 3_5.29.BK-77.xlsx
83 Kay Mine 3_5.26.BK-77.xlsx
84 Kay Mine 3_5.28.BK-77.xlsx
85 Kay Mine 3_5.27.BK-77.xlsx
86 Kay Mine 3_5.25.BK-77.xlsx
87 Kay Mine 3_5.24.BK-77.xlsx
88 Kay Mine 3_5.20.BK-77.xlsx
89 Kay Mine 3_5.22.BK-77.xlsx
90 Kay Mine 3_5.21.BK-77.xlsx
91 Kay Mine 3_5.05.BK-77.xlsx
92 Kay Mine 3_4.30.BK-77.xlsx
93 Kay Mine 3_5.01.BK-77.xlsx
94 Kay Mine 3_4.28.BK-77.xlsx
95 Kay Mine 3_5.02.BK-77.xlsx
96 Kay Mine 3_5.04.BK-77.xlsx
97 Kay Mine 3_4.29.BK-77.xlsx
98 Kay Mine 3_5.15.BK-77.xlsx
99 Kay Mine 3_5.18.BK-77.xlsx
100 Kay Mine 3_5.14.BK-77.xlsx
101 Kay Mine 3_5.13.BK-77.xlsx
102 Kay Mine 3_5.12.BK-77.xlsx
103 Kay Mine 3_5.19.BK-77.xlsx
104 Kay Mine 3_5.17.BK-77.xlsx
105 Kay Mine 3_5.11.BK-77.xlsx
106 Kay Mine 3_5.10.BK-77.xlsx
107 Kay Mine 3_5.09.BK-77.xlsx
108 Kay Mine 3_4.27.BK-77.xlsx
109 Kay Mine 3_4.26.BK-77.xlsx
110 Kay Mine 3_4.21.BK-77.xlsx
111 Kay Mine 3_4.22.BK-77.xlsx
112 Kay Mine 3_4.23.BK-77.xlsx
113 Kay Mine 3_4.24.BK-77.xlsx
114 Kay Mine 3_4.18.BK-77.xlsx
115 Kay Mine 3_4.20.BK-77.xlsx
116 Kay Mine 3_4.19.BK-77.xlsx
117 Kay Mine 3_4.25.BK-77.xlsx
118 Kay Mine 3_4.17.BK-77.xlsx
119 Kay Mine 3_4.16.BK-77.xlsx
120 Kay Mine 3_4.10.BK-77.xlsx
121 Kay Mine 3_4.08.BK-77.xlsx
122 Kay Mine 3_4.13.BK-77.xlsx
123 Kay Mine 3_4.09.BK-77.xlsx
124 Kay Mine 3_4.07.BK-77.xlsx
125 Kay Mine 3_4.12.BK-77.xlsx
126 Kay Mine 3_4.11.BK-77.xlsx
127 Kay Mine 3_4.15.BK-77.xlsx
128 Kay Mine 3_4.06.BK-77.xlsx
129 Kay Mine 3_4.05.BK-77.xlsx
130 Kay Mine 3_7.01.BK-77.xlsx
131 Kay Mine 3_7.02.BK-77.xlsx
132 Kay Mine 3_6.9.BK-77.xlsx
133 Kay Mine 3_6.8.BK-77.xlsx
134 Kay Mine 3_6.6.BK-77.xlsx
135 Kay Mine 3_6.5.BK-77.xlsx
136 Kay Mine 3_6.4.BK-77.xlsx
137 Kay Mine 3_6.30.BK-77.xlsx
138 Kay Mine 3_6.7.BK-77.xlsx
139 Kay Mine 3_6.3.BK-77.xlsx
140 Kay Mine 3_6.29.BK-77.xlsx
141 Kay Mine 3_6.28.BK-77.xlsx
142 Kay Mine 3_6.20.BK-77.xlsx
143 Kay Mine 3_6.21.BK-77.xlsx
144 Kay Mine 3_6.24.BK-77.xlsx
145 Kay Mine 3_6.22.BK-77.xlsx
146 Kay Mine 3_6.25.BK-77.xlsx
147 Kay Mine 3_6.26.BK-77.xlsx
148 Kay Mine 3_6.2.BK-77.xlsx
149 Kay Mine 3_6.27.BK-77.xlsx
150 Kay Mine 3_6.19.BK-77.xlsx
151 Kay Mine 3_6.18.BK-77.xlsx
152 Kay Mine 3_6.11.BK-77.xlsx
153 Kay Mine 3_6.13.BK-77.xlsx
154 Kay Mine 3_6.16.BK-77.xlsx
155 Kay Mine 3_6.14.BK-77.xlsx
156 Kay Mine 3_6.15.BK-77.xlsx
157 Kay Mine 3_6.10.BK-77.xlsx
158 Kay Mine 3_6.12.BK-77.xlsx
159 Kay Mine 3_6.17.BK-77.xlsx
160 Kay Mine 3_6.1.BK-77.xlsx
161 Kay Mine 3_5.31.BK-77.xlsx
162 Kay Mine 3_5.30.BK-77.xlsx
163 Kay Mine 3_7.26.BK-77.xlsx
164 Kay Mine 3_7.24.BK-77.xlsx
165 Kay Mine 3_7.25.BK-77.xlsx
166 Kay Mine 3_7.23.BK-77.xlsx
167 Kay Mine 3_7.17.BK-77.xlsx
168 Kay Mine 3_7.16.BK-77.xlsx
169 Kay Mine 3_7.15.BK-77.xlsx
170 Kay Mine 3_7.13.BK-77.xlsx
171 Kay Mine 3_7.18.BK-77.xlsx
172 Kay Mine 3_7.19.BK-77.xlsx
173 Kay Mine 3_7.14.BK-77.xlsx
174 Kay Mine 3_7.22.BK-77.xlsx
175 Kay Mine 3_7.21.BK-77.xlsx
176 Kay Mine 3_7.20.BK-77.xlsx
177 Kay Mine 3_7.09.BK-77.xlsx
178 Kay Mine 3_7.07.BK-77.xlsx
179 Kay Mine 3_7.06.BK-77.xlsx
180 Kay Mine 3_7.03.BK-77.xlsx
181 Kay Mine 3_7.05.BK-77.xlsx
182 Kay Mine 3_7.04.BK-77.xlsx
183 Kay Mine 3_7.08.BK-77.xlsx
184 Kay Mine 3_7.12.BK-77.xlsx
185 Kay Mine 3_7.11.BK-77.xlsx
186 Kay Mine 3_7.10.BK-77.xlsx
187 Kay Mine 3_7.28.BK-77.xlsx
188 Kay Mine 3_7.29.BK-77.xlsx
189 Kay Mine 3_8.02.BK-77.xlsx
190 Kay Mine 3_8.04.BK-77.xlsx
191 Kay Mine 3_8.05.BK-77.xlsx
192 Kay Mine 3_8.06.BK-77.xlsx
193 Kay Mine 3_8.07.BK-77.xlsx
194 Kay Mine 3_7.31.BK-77.xlsx
195 Kay Mine 3_8.01.BK-77.xlsx
196 Kay Mine 3_8.03.BK-77.xlsx
197 Kay Mine 3_7.27.BK-77.xlsx
198 Kay Mine 3_7.30.BK-77.xlsx
/Volumes/GoogleDrive/Shared drives/AMC Projects/_AZ_Kay/_Drilling/_Shift Reports/BK-75/
0 Kay Mine 1_2.15.BK-75.xlsx
1 Kay Mine 1_2.18.BK-75.xlsx
2 Kay Mine 1_2.16.BK-75.xlsx
3 Kay Mine 1_2.2.BK-75.xlsx
4 Kay Mine 1_2.19.BK-75.xlsx
5 Kay Mine 1_2.17.BK-75.xlsx
6 Kay Mine 1_2.14.BK-75.xlsx
7 Kay Mine 1_2.22.BK-75.xlsx
8 Kay Mine 1_2.21.BK-75.xlsx
9 Kay Mine 1_2.27.BK-75.xlsx
10 Kay Mine 1_2.24.BK-75.xlsx
11 Kay Mine 1_2.23.BK-75.xlsx
12 Kay Mine 1_2.3.BK-75.xlsx
13 Kay Mine 1_2.26.BK-75.xlsx
14 Kay Mine 1_2.25.BK-75.xlsx
15 Kay Mine 1_2.28.BK-75.xlsx
16 Kay Mine 1_2.20.BK-75.xlsx
17 Kay Mine 1_2.13.BK-75.xlsx
18 Kay Mine 1_2.12.BK-75.xlsx
19 Kay Mine 1_2.11.BK-75.xlsx
20 Kay Mine 1_1.31.BK-75.xlsx
21 Kay Mine 1_1.29.BK-75.xlsx
22 Kay Mine 1_1.28.BK-75.xlsx
23 Kay Mine 1_2.1.BK-75.xlsx
24 Kay Mine 1_1.30.BK-75.xlsx
25 Kay Mine 1_1.27.BK-75.xlsx
26 Kay Mine 1_2.10.BK-75.xlsx
27 Kay Mine 1_1.26.BK-75.xlsx
28 Kay Mine 1_1.25.BK-75.xlsx
29 Kay Mine 1_1.24.BK-75.xlsx
30 Kay Mine 1_1.23.BK-75.xlsx
31 Kay Mine 1_1.19.BK-75.xlsx
32 Kay Mine 1_1.21.BK-75.xlsx
33 Kay Mine 1_1.17.BK-75.xlsx
34 Kay Mine 1_1.18.BK-75.xlsx
35 Kay Mine 1_1.20.BK-75.xlsx
36 Kay Mine 1_1.22.BK-75.xlsx
37 Kay Mine 1_1.16.BK-75.xlsx
38 Kay Mine 1_1.15.BK-75.xlsx
39 Kay Mine 1_1.14.BK-75.xlsx
40 Kay Mine 1_2.4.BK-75.xlsx
41 Kay Mine 1_4.06.BK-75.xlsx
42 Kay Mine 1_4.05.BK-75.xlsx
43 Kay Mine 1_3.9.BK-75.xlsx
44 Kay Mine 1_4.04.BK-75.xlsx
45 Kay Mine 1_4.02.BK-75.xlsx
46 Kay Mine 1_4.03.BK-75.xlsx
47 Kay Mine 1_4.01.BK-75.xlsx
48 Kay Mine 1_3.8.BK-75.xlsx
49 Kay Mine 1_4.08.BK-75.xlsx
50 Kay Mine 1_4.07.BK-75.xlsx
51 Kay Mine 1_3.30.BK-75.xlsx
52 Kay Mine 1_3.31.BK-75.xlsx
53 Kay Mine 1_3.27.BK-75.xlsx
54 Kay Mine 1_3.3.BK-75.xlsx
55 Kay Mine 1_3.29.BK-75.xlsx
56 Kay Mine 1_3.28.BK-75.xlsx
57 Kay Mine 1_3.4.BK-75.xlsx
58 Kay Mine 1_3.7.BK-75.xlsx
59 Kay Mine 1_3.6.BK-75.xlsx
60 Kay Mine 1_3.5.BK-75.xlsx
61 Kay Mine 1_3.26.BK-75.xlsx
62 Kay Mine 1_3.25.BK-75.xlsx
63 Kay Mine 1_3.21.BK-75.xlsx
64 Kay Mine 1_3.18.BK-75.xlsx
65 Kay Mine 1_3.19.BK-75.xlsx
66 Kay Mine 1_3.2.BK-75.xlsx
67 Kay Mine 1_3.20.BK-75.xlsx
68 Kay Mine 1_3.16.BK-75.xlsx
69 Kay Mine 1_3.17.BK-75.xlsx
70 Kay Mine 1_3.23.BK-75.xlsx
71 Kay Mine 1_3.15.BK-75.xlsx
72 Kay Mine 1_3.14.BK-75.xlsx
73 Kay Mine 1_3.10.BK-75.xlsx
74 Kay Mine 1_3.1.BK-75.xlsx
75 Kay Mine 1_3.11.BK-75.xlsx
76 Kay Mine 1_3.12.BK-75.xlsx
77 Kay Mine 1_2.8.BK-75.xlsx
78 Kay Mine 1_2.7.BK-75.xlsx
79 Kay Mine 1_2.9.BK-75.xlsx
80 Kay Mine 1_3.13.BK-75.xlsx
81 Kay Mine 1_2.6.BK-75.xlsx
82 Kay Mine 1_2.5.BK-75.xlsx
83 Kay Mine 1_5.27.BK-75.xlsx
84 Kay Mine 1_5.31.BK-75.xlsx
85 Kay Mine 1_5.28.BK-75.xlsx
86 Kay Mine 1_5.29.BK-75.xlsx
87 Kay Mine 1_5.30.BK-75.xlsx
88 Kay Mine 1_5.26.BK-75.xlsx
89 Kay Mine 1_5.25.BK-75.xlsx
90 Kay Mine 1_5.24.BK-75.xlsx
91 Kay Mine 1_5.23.BK-75.xlsx
92 Kay Mine 1_5.17.BK-75.xlsx
93 Kay Mine 1_5.14.BK-75.xlsx
94 Kay Mine 1_5.21.BK-75.xlsx
95 Kay Mine 1_5.19.BK-75.xlsx
96 Kay Mine 1_5.15.BK-75.xlsx
97 Kay Mine 1_5.18.BK-75.xlsx
98 Kay Mine 1_5.20.BK-75.xlsx
99 Kay Mine 1_5.22.BK-75.xlsx
100 Kay Mine 1_5.13.BK-75.xlsx
101 Kay Mine 1_5.12.BK-75.xlsx
102 Kay Mine 1_4.30.BK-75.xlsx
103 Kay Mine 1_5.01.BK-75.xlsx
104 Kay Mine 1_5.09.BK-75.xlsx
105 Kay Mine 1_5.04.BK-75.xlsx
106 Kay Mine 1_5.05.BK-75.xlsx
107 Kay Mine 1_5.10.BK-75.xlsx
108 Kay Mine 1_5.02.BK-75.xlsx
109 Kay Mine 1_5.11.BK-75.xlsx
110 Kay Mine 1_4.29.BK-75.xlsx
111 Kay Mine 1_4.28.BK-75.xlsx
112 Kay Mine 1_4.24.BK-75.xlsx
113 Kay Mine 1_4.26.BK-75.xlsx
114 Kay Mine 1_4.20.BK-75.xlsx
115 Kay Mine 1_4.23.BK-75.xlsx
116 Kay Mine 1_4.22.BK-75.xlsx
117 Kay Mine 1_4.25.BK-75.xlsx
118 Kay Mine 1_4.21.BK-75.xlsx
119 Kay Mine 1_4.27.BK-75.xlsx
120 Kay Mine 1_4.19.BK-75.xlsx
121 Kay Mine 1_4.18.BK-75.xlsx
122 Kay Mine 1_4.09.BK-75.xlsx
123 Kay Mine 1_4.12.BK-75.xlsx
124 Kay Mine 1_4.13.BK-75.xlsx
125 Kay Mine 1_4.11.BK-75.xlsx
126 Kay Mine 1_4.10.BK-75.xlsx
127 Kay Mine 1_4.16.BK-75.xlsx
128 Kay Mine 1_4.15.BK-75.xlsx
129 Kay Mine 1_4.17.BK-75.xlsx
130 Kay Mine 1_6.19.BK-75.xlsx
131 Kay Mine 1_6.18.BK-75.xlsx
132 Kay Mine 1_6.17.BK-75.xlsx
133 Kay Mine 1_6.16.BK-75.xlsx
134 Kay Mine 1_6.15.BK-75.xlsx
135 Kay Mine 1_6.13.BK-75.xlsx
136 Kay Mine 1_6.14.BK-75.xlsx
137 Kay Mine 1_6.12.BK-75.xlsx
138 Kay Mine 1_6.11.BK-75.xlsx
139 Kay Mine 1_6.10.BK-75.xlsx
140 Kay Mine 1_6.1.BK-75.xlsx
141 Kay Mine 1_7.22.BK-75.xlsx
142 Kay Mine 1_7.14.BK-75.xlsx
143 Kay Mine 1_7.13.BK-75.xlsx
144 Kay Mine 1_7.15.BK-75.xlsx
145 Kay Mine 1_7.17.BK-75.xlsx
146 Kay Mine 1_7.16.BK-75.xlsx
147 Kay Mine 1_7.19.BK-75.xlsx
148 Kay Mine 1_7.20.BK-75.xlsx
149 Kay Mine 1_7.18.BK-75.xlsx
150 Kay Mine 1_7.21.BK-75.xlsx
151 Kay Mine 1_7.05.BK-75.xlsx
152 Kay Mine 1_7.06.BK-75.xlsx
153 Kay Mine 1_7.09.BK-75.xlsx
154 Kay Mine 1_7.08.BK-75.xlsx
155 Kay Mine 1_7.10.BK-75.xlsx
156 Kay Mine 1_7.11.BK-75.xlsx
157 Kay Mine 1_7.07.BK-75.xlsx
158 Kay Mine 1_7.12.BK-75.xlsx
159 Kay Mine 1_7.01.BK-75.xlsx
160 Kay Mine 1_6.5.BK-75.xlsx
161 Kay Mine 1_6.7.BK-75.xlsx
162 Kay Mine 1_6.9.BK-75.xlsx
163 Kay Mine 1_6.8.BK-75.xlsx
164 Kay Mine 1_6.4.BK-75.xlsx
165 Kay Mine 1_6.6.BK-75.xlsx
166 Kay Mine 1_7.03.BK-75.xlsx
167 Kay Mine 1_7.04.BK-75.xlsx
168 Kay Mine 1_7.02.BK-75.xlsx
169 Kay Mine 1_6.28.BK-75.xlsx
170 Kay Mine 1_6.25.BK-75.xlsx
171 Kay Mine 1_6.27.BK-75.xlsx
172 Kay Mine 1_6.26.BK-75.xlsx
173 Kay Mine 1_6.22.BK-75.xlsx
174 Kay Mine 1_6.24.BK-75.xlsx
175 Kay Mine 1_6.21.BK-75.xlsx
176 Kay Mine 1_6.30.BK-75.xlsx
177 Kay Mine 1_6.3.BK-75.xlsx
178 Kay Mine 1_6.29.BK-75.xlsx
179 Kay Mine 1_6.20.BK-75.xlsx
180 Kay Mine 1_6.2.BK-75.xlsx
181 Kay Mine 1_7.26.BK-75.xlsx
182 Kay Mine 1_7.25.BK-75.xlsx
183 Kay Mine 1_7.24.BK-75.xlsx
184 Kay Mine 1_7.23.BK-75.xlsx
185 Kay Mine 1_8.02.BK-75.xlsx
186 Kay Mine 1_8.04.BK-75.xlsx
187 Kay Mine 1_8.07.BK-75.xlsx
188 Kay Mine 1_7.28.BK-75.xlsx
189 Kay Mine 1_8.06.BK-75.xlsx
190 Kay Mine 1_8.05.BK-75.xlsx
191 Kay Mine 1_7.29.BK-75.xlsx
192 Kay Mine 1_7.30.BK-75.xlsx
193 Kay Mine 1_7.27.BK-75.xlsx
194 Kay Mine 1_7.31.BK-75.xlsx
195 Kay Mine 1_8.01.BK-75.xlsx
196 Kay Mine 1_8.03.BK-75.xlsx
/Volumes/GoogleDrive/Shared drives/AMC Projects/_AZ_Kay/_Drilling/_Shift Reports/BK-67/
0 Kay Mine 2_1.14.BK-67.xlsx
1 Kay Mine 2_1.16.BK-67.xlsx
2 Kay Mine 2_1.15.BK-67.xlsx
3 Kay Mine 2_1.20.BK-67.xlsx
4 Kay Mine 2_1.18.BK-67.xlsx
5 Kay Mine 2_1.17.BK-67.xlsx
6 Kay Mine 2_1.19.BK-67.xlsx
7 Kay Mine 2_1.21.BK-67.xlsx
8 Kay Mine 2_1.23.BK-67.xlsx
9 Kay Mine 2_1.22.BK-67.xlsx
10 Kay Mine 2_3.10.BK-67.xlsx
11 Kay Mine 2_2.9.BK-67.xlsx
12 Kay Mine 2_3.11.BK-67.xlsx
13 Kay Mine 2_3.12.BK-67.xlsx
14 Kay Mine 2_3.1.BK-67.xlsx
15 Kay Mine 2_2.7.BK-67.xlsx
16 Kay Mine 2_2.8.BK-67.xlsx
17 Kay Mine 2_2.24.BK-67.xlsx
18 Kay Mine 2_2.23.BK-67.xlsx
19 Kay Mine 2_2.27.BK-67.xlsx
20 Kay Mine 2_2.28.BK-67.xlsx
21 Kay Mine 2_2.25.BK-67.xlsx
22 Kay Mine 2_2.26.BK-67.xlsx
23 Kay Mine 2_2.3.BK-67.xlsx
24 Kay Mine 2_2.6.BK-67.xlsx
25 Kay Mine 2_2.5.BK-67.xlsx
26 Kay Mine 2_2.4.BK-67.xlsx
27 Kay Mine 2_2.15.BK-67.xlsx
28 Kay Mine 2_2.14.BK-67.xlsx
29 Kay Mine 2_2.2.BK-67.xlsx
30 Kay Mine 2_2.17.BK-67.xlsx
31 Kay Mine 2_2.16.BK-67.xlsx
32 Kay Mine 2_2.19.BK-67.xlsx
33 Kay Mine 2_2.18.BK-67.xlsx
34 Kay Mine 2_2.22.BK-67.xlsx
35 Kay Mine 2_2.21.BK-67.xlsx
36 Kay Mine 2_2.20.BK-67.xlsx
37 Kay Mine 2_2.13.BK-67.xlsx
38 Kay Mine 2_2.12.BK-67.xlsx
39 Kay Mine 2_2.11.BK-67.xlsx
40 Kay Mine 2_1.31.BK-67.xlsx
41 Kay Mine 2_2.1.BK-67.xlsx
42 Kay Mine 2_1.30.BK-67.xlsx
43 Kay Mine 2_1.29.BK-67.xlsx
44 Kay Mine 2_1.28.BK-67.xlsx
45 Kay Mine 2_2.10.BK-67.xlsx
46 Kay Mine 2_1.27.BK-67.xlsx
47 Kay Mine 2_1.26.BK-67.xlsx
48 Kay Mine 2_1.25.BK-67.xlsx
49 Kay Mine 2_1.24.BK-67.xlsx
50 Kay Mine 2_4.10.BK-67.xlsx
51 Kay Mine 2_4.11.BK-67.xlsx
52 Kay Mine 2_4.12.BK-67.xlsx
53 Kay Mine 2_4.15.BK-67.xlsx
54 Kay Mine 2_4.09.BK-67.xlsx
55 Kay Mine 2_4.08.BK-67.xlsx
56 Kay Mine 2_4.13.BK-67.xlsx
57 Kay Mine 2_4.16.BK-67.xlsx
58 Kay Mine 2_4.17.BK-67.xlsx
59 Kay Mine 2_4.18.BK-67.xlsx
60 Kay Mine 2_4.04.BK-67.xlsx
61 Kay Mine 2_3.7.BK-67.xlsx
62 Kay Mine 2_3.8.BK-67.xlsx
63 Kay Mine 2_4.02.BK-67.xlsx
64 Kay Mine 2_4.03.BK-67.xlsx
65 Kay Mine 2_3.9.BK-67.xlsx
66 Kay Mine 2_4.01.BK-67.xlsx
67 Kay Mine 2_4.07.BK-67.xlsx
68 Kay Mine 2_4.06.BK-67.xlsx
69 Kay Mine 2_4.05.BK-67.xlsx
70 Kay Mine 2_3.28.BK-67.xlsx
71 Kay Mine 2_3.26.BK-67.xlsx
72 Kay Mine 2_3.29.BK-67.xlsx
73 Kay Mine 2_3.3.BK-67.xlsx
74 Kay Mine 2_3.27.BK-67.xlsx
75 Kay Mine 2_3.31.BK-67.xlsx
76 Kay Mine 2_3.30.BK-67.xlsx
77 Kay Mine 2_3.6.BK-67.xlsx
78 Kay Mine 2_3.5.BK-67.xlsx
79 Kay Mine 2_3.4.BK-67.xlsx
80 Kay Mine 2_3.25.BK-67.xlsx
81 Kay Mine 2_3.24.BK-67.xlsx
82 Kay Mine 2_3.21.BK-67.xlsx
83 Kay Mine 2_3.20.BK-67.xlsx
84 Kay Mine 2_3.19.BK-67.xlsx
85 Kay Mine 2_3.2.BK-67.xlsx
86 Kay Mine 2_3.16.BK-67.xlsx
87 Kay Mine 2_3.18.BK-67.xlsx
88 Kay Mine 2_3.17.BK-67.xlsx
89 Kay Mine 2_3.23.BK-67.xlsx
90 Kay Mine 2_3.14.BK-67.xlsx
91 Kay Mine 2_3.15.BK-67.xlsx
92 Kay Mine 2_3.13.BK-67.xlsx
93 Kay Mine 2_6.17.BK-67.xlsx
94 Kay Mine 2_6.16.BK-67.xlsx
95 Kay Mine 2_6.11.BK-67.xlsx
96 Kay Mine 2_6.13.BK-67.xlsx
97 Kay Mine 2_6.12.BK-67.xlsx
98 Kay Mine 2_6.15.BK-67.xlsx
99 Kay Mine 2_6.14.BK-67.xlsx
100 Kay Mine 2_6.10.BK-67.xlsx
101 Kay Mine 2_6.1.BK-67.xlsx
102 Kay Mine 2_5.27.BK-67.xlsx
103 Kay Mine 2_5.30.BK-67.xlsx
104 Kay Mine 2_5.25.BK-67.xlsx
105 Kay Mine 2_5.24.BK-67.xlsx
106 Kay Mine 2_5.29.BK-67.xlsx
107 Kay Mine 2_5.28.BK-67.xlsx
108 Kay Mine 2_5.26.BK-67.xlsx
109 Kay Mine 2_5.31.BK-67.xlsx
110 Kay Mine 2_5.17.BK-67.xlsx
111 Kay Mine 2_5.18.BK-67.xlsx
112 Kay Mine 2_5.15.BK-67.xlsx
113 Kay Mine 2_5.20.BK-67.xlsx
114 Kay Mine 2_5.14.BK-67.xlsx
115 Kay Mine 2_5.19.BK-67.xlsx
116 Kay Mine 2_5.13.BK-67.xlsx
117 Kay Mine 2_5.22.BK-67.xlsx
118 Kay Mine 2_5.23.BK-67.xlsx
119 Kay Mine 2_5.21.BK-67.xlsx
120 Kay Mine 2_5.12.BK-67.xlsx
121 Kay Mine 2_5.11.BK-67.xlsx
122 Kay Mine 2_5.09.BK-67.xlsx
123 Kay Mine 2_5.01.BK-67.xlsx
124 Kay Mine 2_5.05.BK-67.xlsx
125 Kay Mine 2_4.29.BK-67.xlsx
126 Kay Mine 2_4.30.BK-67.xlsx
127 Kay Mine 2_5.04.BK-67.xlsx
128 Kay Mine 2_5.02.BK-67.xlsx
129 Kay Mine 2_5.10.BK-67.xlsx
130 Kay Mine 2_4.28.BK-67.xlsx
131 Kay Mine 2_4.27.BK-67.xlsx
132 Kay Mine 2_4.24.BK-67.xlsx
133 Kay Mine 2_4.25.BK-67.xlsx
134 Kay Mine 2_4.22.BK-67.xlsx
135 Kay Mine 2_4.21.BK-67.xlsx
136 Kay Mine 2_4.20.BK-67.xlsx
137 Kay Mine 2_4.23.BK-67.xlsx
138 Kay Mine 2_4.19.BK-67.xlsx
139 Kay Mine 2_4.26.BK-67.xlsx
140 Kay Mine 3_1.21.BK-77.xlsx
141 Kay Mine 2_7.05.BK-67.xlsx
142 Kay Mine 2_7.04.BK-67.xlsx
143 Kay Mine 2_7.03.BK-67.xlsx
144 Kay Mine 2_7.02.BK-67.xlsx
145 Kay Mine 2_6.30.BK-67.xlsx
146 Kay Mine 2_6.7.BK-67.xlsx
147 Kay Mine 2_6.6.BK-67.xlsx
148 Kay Mine 2_6.4.BK-67.xlsx
149 Kay Mine 2_6.5.BK-67.xlsx
150 Kay Mine 2_6.9.BK-67.xlsx
151 Kay Mine 2_6.8.BK-67.xlsx
152 Kay Mine 2_7.01.BK-67.xlsx
153 Kay Mine 2_6.3.BK-67.xlsx
154 Kay Mine 2_6.29.BK-67.xlsx
155 Kay Mine 2_6.21.BK-67.xlsx
156 Kay Mine 2_6.27.BK-67.xlsx
157 Kay Mine 2_6.24.BK-67.xlsx
158 Kay Mine 2_6.25.BK-67.xlsx
159 Kay Mine 2_6.26.BK-67.xlsx
160 Kay Mine 2_6.20.BK-67.xlsx
161 Kay Mine 2_6.22.BK-67.xlsx
162 Kay Mine 2_6.28.BK-67.xlsx
163 Kay Mine 2_6.2.BK-67.xlsx
164 Kay Mine 2_6.19.BK-67.xlsx
165 Kay Mine 2_6.18.BK-67.xlsx
/Volumes/GoogleDrive/Shared drives/AMC Projects/_AZ_Kay/_Drilling/_Shift Reports/water_compilation.xlsx/
/Volumes/GoogleDrive/Shared drives/AMC Projects/_AZ_Kay/_Drilling/_Shift Reports/activity_compilation.xlsx/

In [5]:
def get_drill_data(data,indicators,comp_target=''):
    data=data=data.T.reset_index(drop=True).T

    data_columns=[]
    ind_head_groups=[]
    for col in data.columns:
        blocks=get_nan_inds(data[col])
        #print(blocks)
        block_list=[]
        for rows in blocks:
            start=rows[0]
            end=rows[-1]
            if start==end:
                end+=1
            data_col=data.loc[list(range(start,end)),col]
            block_list.append(data_col)
            for thing in indicators:
                if thing in data_col.to_list():
                    size=rows[1]-rows[0]
                    print((thing,rows,size))
                    ind_head_groups.append((thing,size))

        try:
            non_nan=pd.concat(block_list,axis=0)
            data_columns.append(non_nan)
        except Exception as e:
            print(e)
    data=pd.concat(data_columns,axis=1,ignore_index=True).reset_index(drop=True)
    data=data.astype('object')

    headers=[]
    for i,thing in enumerate(indicators):
        header=data.where(data.eq(thing)).stack().index.values[0][0]
        if thing in ind_head_groups[i]:
            size=ind_head_groups[i][1]
            print(thing,'header:',header,'size:',size)
        headers.append((header,size))
    headers
    slices=[]
    for i,header in enumerate(headers):
        head=header[0]
        size=header[1]
        columns = data.iloc[head].str.lower()
        
        try:
            start=head+1
            end=start+size
            
            print(head,'-',end)
            slice = pd.DataFrame(data.values[start:end], columns=columns).reset_index(drop=True)
        except Exception as e: print('Exception:',e)
        slices.append(slice)
    clean_data=pd.concat(slices,axis=1)

    clean_data=clean_data.dropna(how='all',axis=1).T.dropna(how='all',axis=0).T

    clean_data=clean_data.T.groupby(level=0).first().T
    if comp_target==''or comp_target=='water':
        for col in clean_data.columns:
            try:clean_data[col]=clean_data[col].str.replace(' ','')
            except Exception as e: pass
            try:    clean_data[col]=clean_data[col].str.replace('**','',regex=False)
            except Exception as e: pass
            try:    clean_data[col]=clean_data[col].str.replace('!','',regex=False)
            except Exception as e: pass
            try:    clean_data[col]=clean_data[col].str.strip('ft')
            except Exception as e: pass
            try:    clean_data[col]=clean_data[col].str.strip('gal')
            except Exception as e: pass
            try:    clean_data[col]=clean_data[col].replace(r'\s',' ',regex=True)
            except Exception as e: pass
            try:clean_data[col]=pd.to_numeric(clean_data[col])
            except Exception as e:pass
        try:    clean_data.columns=[col.replace('\n','') for col in clean_data.columns]
        except Exception as e: print(e)

        clean_data['drill from']=pd.to_numeric(clean_data['drill from'],errors='coerce')
        drop=clean_data[clean_data['drill from'].isna()==True].index
        clean_data=clean_data.drop(drop)
        drop_col=['name','shift','size','tools']
        for col in drop_col:
            try:clean_data=clean_data.drop(col,axis=1).fillna(0)
            except Exception as e: print(e)
        clean_data['total man hours']=pd.to_numeric(clean_data['total man hours'],errors='coerce').fillna(method='ffill').fillna(method='bfill')
        dr=data.where(data.eq('Drill')).stack().index.values[0]
        clean_data['drill']=data.iloc[dr[0],dr[1]+1]
        try:
            clean_data.rename(columns={'volume':'water_gal'},inplace=True)
        except Exception as e: print(e)

    if comp_target=='activities':
        clean_cols=['hole no.']
        for col in clean_cols:
            try:    clean_data[col]=clean_data[col].str.replace('**','',regex=False)
            except Exception as e: pass
            try:    clean_data[col]=clean_data[col].str.replace('!','',regex=False)
            except Exception as e: pass
            try:    clean_data[col]=clean_data[col].replace(r'\s',' ',regex=True)
            except Exception as e: pass
            try:    clean_data[col]=pd.to_numeric(clean_data[col])
            except Exception as e:pass
        try:    clean_data.columns=[col.replace('\n','') for col in clean_data.columns]
        except Exception as e: print(e)
        drop_col=['description','unit','quantity']
        for col in drop_col:
            try:clean_data=clean_data.drop(col,axis=1).fillna(0)
            except Exception as e: print(e)
        try: 
            hole=data.where(data.eq('Hole(s)')).stack().index.values[0]
            hole=data.iloc[hole[0],hole[1]+1]
            print(hole)
            clean_data['hole no.']=hole
        except Exception as e: print(e)
        drop=clean_data[clean_data['activity']==False].index
        clean_data=clean_data.drop(drop)
    date=data.where(data.eq('Date')).stack().index.values[0]
    clean_data['date']=data.iloc[date[0],date[1]+1]

    return clean_data

In [6]:
indicators=['Description']
comp_target='activities'
data=data_list[9]
data=get_drill_data(data,indicators=indicators,comp_target=comp_target)
data

('Description', (29, 39), 10)
No objects to concatenate
Description header: 13 size: 10
13 - 24
KM-22-63

,activity,hours,shift,time,type,hole no.,date
0,Hole Conditioning,2.5,Day,06:00-08:30,Hole Conditioning,KM-22-63,Feb-18-2022
1,Trip Rods,4.5,Day,08:30-13:00,Rod Handling,KM-22-63,Feb-18-2022
2,Drilling,2.5,Day,13:00-15:30,Core HQ Diamond Core Bit from 2487 ft to 2501 ...,KM-22-63,Feb-18-2022
3,Repair,2.5,Day,15:30-18:00,Rig Breakdown Royal fixed leak on head,KM-22-63,Feb-18-2022
4,Drilling,3.0,Night,18:00-21:00,Core HQ Diamond Core Bit from 2501 ft to 2522 ...,KM-22-63,Feb-18-2022
5,Hole Conditioning,5.5,Night,21:00-02:30,Hole Conditioning reamed from 900-bottom,KM-22-63,Feb-18-2022
6,Trip Rods,3.5,Night,02:30-06:00,Rod Handling,KM-22-63,Feb-18-2022

In [7]:
water_indicators=['Total Man Hours','Hole No.']
act_indicators=['Description']
water_data=[]
act_data=[]
for data in data_list:
    w_data=get_drill_data(data=data,indicators=water_indicators,comp_target='water')
    a_data=get_drill_data(data=data,indicators=act_indicators,comp_target='activities')

    water_data.append(w_data)
    act_data.append(a_data)
final_water=pd.concat(water_data,axis=0)
final_act=pd.concat(act_data,axis=0)

final_water=final_water.sort_values(['hole no.','date','drill from']).reset_index(drop=True)
final_cols=['hole no.','date','drill from','drill to','water_gal']
others=[col for col in final_water.columns if col not in final_cols]
final_water=pd.concat([final_water[final_cols],final_water[others]],axis=1)
final_act=final_act.sort_values(['hole no.','date']).reset_index(drop=True)
final_act.to_excel(path+'activity_compilation.xlsx',index=False)
final_water.to_excel(path+'water_compilation.xlsx',index=False)

('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 20), 3)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 3
6 - 9
9 - 13
"['name'] not found in axis"
('Description', (29, 38), 9)
No objects to concatenate
Description header: 12 size: 9
12 - 22
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 40), 11)
No objects to concatenate
Description header: 14 size: 11
14 - 26
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 20), 3)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 3
7 - 10
10 - 14
"['name'] not found in axis"
('Description', (29, 40), 11)
No objects to concatenate
Description header: 13 size: 11
13 - 25
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 40), 11)
No objects to concatenate
Description header: 14 size: 11
14 - 26
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 13 size: 10
13 - 24
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 13 size: 10
13 - 24
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 20), 3)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 3
7 - 10
10 - 14
"['name'] not found in axis"
('Description', (29, 40), 11)
No objects to concatenate
Description header: 13 size: 11
13 - 25
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 13 size: 10
13 - 24
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 4
8 - 11
11 - 16
('Description', (29, 40), 11)
No objects to concatenate
Description header: 15 size: 11
15 - 27
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 38), 9)
No objects to concatenate
Description header: 14 size: 9
14 - 24
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 20), 3)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 3
8 - 11
11 - 15
('Description', (29, 40), 11)
No objects to concatenate
Description header: 14 size: 11
14 - 26
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 4
8 - 11
11 - 16
('Description', (29, 40), 11)
No objects to concatenate
Description header: 15 size: 11
15 - 27
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 4
8 - 11
11 - 16
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 15 size: 10
15 - 26
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-21-59
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 4
8 - 11
11 - 16
('Description', (29, 43), 14)
No objects to concatenate
Description header: 15 size: 14
15 - 30
KM-21-59
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-21-59
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 38), 9)
No objects to concatenate
Description header: 14 size: 9
14 - 24
KM-22-59A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 20), 3)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 3
7 - 10
10 - 14
"['name'] not found in axis"
('Description', (30, 41), 11)
No objects to concatenate
Description header: 13 size: 11
13 - 25
Km22-81
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 40), 11)
No objects to concatenate
Description header: 14 size: 11
14 - 26
KM-21-59
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-21-59
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
('Description', (29, 39), 10)
No objects to concatenate
Description header: 13 size: 10
13 - 24
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 4
8 - 11
11 - 16
('Description', (29, 40), 11)
No objects to concatenate
Description header: 15 size: 11
15 - 27
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 4
8 - 11
11 - 16
"['name'] not found in axis"
('Description', (29, 40), 11)
No objects to concatenate
Description header: 15 size: 11
15 - 27
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 22), 5)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 5
7 - 10
10 - 16
('Description', (29, 40), 11)
No objects to concatenate
Description header: 15 size: 11
15 - 27
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 4
8 - 11
11 - 16
"['name'] not found in axis"
('Description', (29, 40), 11)
No objects to concatenate
Description header: 15 size: 11
15 - 27
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 4
8 - 11
11 - 16
"['name'] not found in axis"
('Description', (29, 41), 12)
No objects to concatenate
Description header: 15 size: 12
15 - 28
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 41), 12)
No objects to concatenate
Description header: 14 size: 12
14 - 27
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 4
8 - 11
11 - 16
"['name'] not found in axis"
('Description', (29, 40), 11)
No objects to concatenate
Description header: 15 size: 11
15 - 27
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 40), 11)
No objects to concatenate
Description header: 14 size: 11
14 - 26
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 4
8 - 11
11 - 16
('Description', (29, 40), 11)
No objects to concatenate
Description header: 15 size: 11
15 - 27
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 38), 9)
No objects to concatenate
Description header: 14 size: 9
14 - 24
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 38), 9)
No objects to concatenate
Description header: 13 size: 9
13 - 23
KM-22-63
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 22), 5)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 5
8 - 11
11 - 17
"['name'] not found in axis"
('Description', (29, 41), 12)
No objects to concatenate
Description header: 16 size: 12
16 - 29
KM-22-63A, KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 38), 9)
No objects to concatenate
Description header: 14 size: 9
14 - 24
KM-22-63A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 22), 5)
No objects to concatenate
Total Man Hours header: 8 size: 2
Hole No. header: 11 size: 5
8 - 11
11 - 17
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 16 size: 10
16 - 27
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 37), 8)
No objects to concatenate
Description header: 13 size: 8
13 - 22
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 37), 8)
No objects to concatenate
Description header: 13 size: 8
13 - 22
KM-22-63A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 38), 9)
No objects to concatenate
Description header: 14 size: 9
14 - 24
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
"['name'] not found in axis"
('Description', (29, 40), 11)
No objects to concatenate
Description header: 14 size: 11
14 - 26
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 7 size: 2
Hole No. header: 10 size: 4
7 - 10
10 - 15
('Description', (29, 39), 10)
No objects to concatenate
Description header: 14 size: 10
14 - 25
KM-22-63A**
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 37), 8)
No objects to concatenate
Description header: 13 size: 8
13 - 22
KM-22-63A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2
Hole No. header: 9 size: 4
6 - 9
9 - 14
"['name'] not found in axis"
('Description', (29, 39), 10)
No objects to concatenate
Description header: 13 size: 10
13 - 24
KM-22-63, KM-22-63A
('Total Man Hours', (14, 16), 2)
('Hole No.', (17, 21), 4)
No objects to concatenate
Total Man Hours header: 6 size: 2

In [8]:
final_act

,activity,hours,shift,time,type,hole no.,date
0,Drilling,1.5,Day,06:00-07:30,Core PQ Diamond Core Bit from 0 ft to 12 ft.,KM - 22- 76,May-11-2022
1,Moving,1.5,Day,07:30-09:00,Align | Hole Alignment TN-14 rig aligner.,KM - 22- 76,May-11-2022
2,Moving,9.0,Day,09:00-18:00,Move | Rig Up/Down Cleared area with backhoe a...,KM - 22- 76,May-11-2022
3,Drilling,4.5,Night,18:00-22:30,Core PQ Diamond Core Bit from 12 ft to 70 ft. ...,KM - 22- 76,May-11-2022
4,Hole Conditioning,1.0,Night,22:30-23:30,Hole Conditioning,KM - 22- 76,May-11-2022
...,...,...,...,...,...,...,...
3291,Hole Conditioning,3.5,Day,14:30-18:00,Hole Conditioning sucking out sump.,"km_22_67, KM-22-66",Mar-02-2022
3292,Drilling,4.5,Night,18:00-22:30,Core PQ Diamond Core Bit from 0 ft to 58 ft wi...,"km_22_67, KM-22-66",Mar-02-2022
3293,Hole Conditioning,1.0,Night,22:30-23:30,Hole Conditioning,"km_22_67, KM-22-66",Mar-02-2022
3294,Moving,4.0,Night,23:30-03:30,Move | Rig Up/Down rigging down/up and moving ...,"km_22_67, KM-22-66",Mar-02-2022
3295,Moving,2.5,Night,03:30-06:00,Align | Hole Alignment rig alignment,"km_22_67, KM-22-66",Mar-02-2022